@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box
  }
  h1.w-element {
    box-sizing: border-box
  }
  h2.w-element {
    box-sizing: border-box
  }
  h3.w-element {
    box-sizing: border-box
  }
  header.w-element {
    box-sizing: border-box
  }
  li.w-element {
    box-sizing: border-box
  }
  main.w-element {
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box
  }
  section.w-element {
    box-sizing: border-box
  }
  ul.w-element {
    box-sizing: border-box
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
}
@media all {
  .c1fni2gu {
    display: flex
  }
  .ct8gf8q {
    justify-content: center
  }
  .c6k4006 {
    align-items: center
  }
  .c196phoo {
    background-color: #ffffff
  }
  .carurm8 {
    position: relative
  }
  .c1fejwxa {
    text-align: center
  }
  .cjcbmxq {
    font-weight: 900
  }
  .c1hm78a9 {
    font-size: 8rem
  }
  .c1t2ga8q {
    line-height: 1
  }
  .czjdkqw {
    letter-spacing: -0.05em
  }
  .cmqlbh0 {
    position: absolute
  }
  .c1epf1wg {
    top: 0
  }
  .clsf9g6 {
    right: -0.125rem
  }
  .c1xl0tj2 {
    bottom: 0
  }
  .ckqrebe {
    left: 0.125rem
  }
  .cmcdhxg {
    opacity: 0.3
  }
  .c1s5l80z {
    right: 0.125rem
  }
  .cvy70vq {
    left: -0.125rem
  }
  .cfbnr45 {
    top: 50%
  }
  .cu5p477 {
    left: 0
  }
  .c1ixa9ew {
    width: 100%
  }
  .clyyk9 {
    height: 0.375rem
  }
  .c1pssfya {
    margin-top: 1.5rem
  }
  .c1ln6udm {
    font-weight: 700
  }
  .cfdgukb {
    font-size: 1.5rem
  }
  .c12mz3an {
    line-height: 2rem
  }
  .c1hr2p7w {
    letter-spacing: 0.05em
  }
  .ck4ql1p {
    display: inline-flex
  }
  .c17w6s43 {
    row-gap: 6px
  }
  .c20w8tu {
    column-gap: 6px
  }
  .caullbx {
    position: fixed
  }
  .c19144op {
    z-index: 1000
  }
  .c1g6vb9y {
    padding-top: 6px
  }
  .c4nfgns {
    padding-right: 10px
  }
  .c1k982pu {
    padding-bottom: 6px
  }
  .c1eo9ixb {
    padding-left: 10px
  }
  .cz2ang7 {
    right: 16px
  }
  .c5kuu7k {
    bottom: 16px
  }
  .cki5j4v {
    color: rgb(251 252 253 / 1)
  }
  .c1ns7ke0 {
    font-family: system-ui, sans-serif
  }
  .c1akfrhz {
    font-size: 12px
  }
  .cxidvv6 {
    font-weight: 500
  }
  .cojpkt2 {
    border-top-left-radius: 9px
  }
  .cak067 {
    border-top-right-radius: 9px
  }
  .c1yt38ae {
    border-bottom-right-radius: 9px
  }
  .c1gg2lle {
    border-bottom-left-radius: 9px
  }
  .cjf3zq6 {
    text-decoration-line: none
  }
  .c1gt5oi8 {
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box
  }
  .c1fm31kd {
    background-origin: padding-box, border-box
  }
  .c1i7fmw2 {
    background-image: linear-gradient(135deg,#4a4efa 0%,#bd2fdb 66%,#ec59ce 100%), linear-gradient(135deg,#92fddc 0%,#7d7ffb 31.94%,#ed72fe 64.24%,#fdd791 100%)
  }
  .cj8e82s {
    border: 1px solid transparent
  }
  .ca5s87o {
    white-space: nowrap
  }
  .c7uoxt9 {
    display: block
  }
  .c1khnv5t {
    width: 16px
  }
  .civmpbn {
    height: 16px
  }
  .c10d0h1t {
    flex-shrink: 0
  }
  .c1fooy8k {
    max-width: 42rem
  }
  .c1kxakyg {
    margin-top: 0
  }
  .cpyhlwk {
    margin-right: auto
  }
  .c1tzot5x {
    margin-bottom: 0
  }
  .crkgmla {
    margin-left: auto
  }
  .cwq4l34 {
    padding-top: 5rem
  }
  .c1oxwlyr {
    padding-right: 1.5rem
  }
  .c1u74j40 {
    padding-bottom: 6rem
  }
  .c1pnb8mk {
    padding-left: 1.5rem
  }
  .c1c5fbvg {
    color: #1a1a1a
  }
  .cxtc2yz {
    line-height: 1.65
  }
  .cg3e4ay {
    margin-bottom: 4rem
  }
  .cpnw7q0 {
    font-size: 4rem
  }
  .c1aa4719 {
    font-weight: 600
  }
  .cplcfhb {
    letter-spacing: -0.03em
  }
  .ck10si5 {
    margin: 0
  }
  .c1ms36tz {
    font-size: 1.25rem
  }
  .cfpd5tf {
    color: #666666
  }
  .czgk29l {
    margin-top: 0.75rem
  }
  .c3wpgfv {
    margin-right: 0
  }
  .cc66th3 {
    margin-left: 0
  }
  .c1vpe8sg {
    margin-bottom: 3.5rem
  }
  .c2jph5x {
    font-size: 0.85rem
  }
  .c58rtt8 {
    letter-spacing: 0.12em
  }
  .cs8rlgd {
    text-transform: uppercase
  }
  .c2c5k78 {
    margin-bottom: 1rem
  }
  .c1wht1no {
    margin-bottom: 2rem
  }
  .c1y0bxh1 {
    margin-bottom: 0.75rem
  }
  .c2sb2fd {
    padding-top: 0
  }
  .c102c05l {
    padding-right: 0
  }
  .c10rivbs {
    padding-bottom: 0
  }
  .cym7624 {
    padding-left: 1.25rem
  }
}